doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel='stylesheet', href='./stylesheet/reset.css')
  link(rel='stylesheet', href='./stylesheet/budget.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js')
body
  div#budget
  script(src='./javascript/budget.js')